* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Início do Header */

.background-principal {
    background-color: var(--primary-color);
    position: relative;
    padding: 20px;
}

.background-secundario {
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: relative;
}

.header-principal img {
    width: 110px;
}

.header-principal input {
    all: unset;
    height: 35px;
    width: 650px;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    padding: 2px 16px;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-li {
    list-style: none;
    background-color: var(--tertiary-color);
    padding: 12px 16px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.header-li:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.header-li a {
    text-decoration: none;
    color: var(--stext-color);
}

/* Fim do Header */

/* Início do Carrousel */

.texto-amostragem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--text-color);
    padding: 12px 16px;
}

.texto-amostragem hr {
    margin: 12px 16px;
    width: 300px;
}

.carrousel-spans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 0.5s ease;
}

.carrousel-spans-itens {
    width: 30px;
    height: 30px;
    border-radius: 500px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

#span1 {
    background-color: var(--secondary-color);
}

#span2, #span3 {
    background-color: grey;
}
/* Fim do Carrousel */

/* Início das Casas */

.casas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
}

.fotos-casas {
    width: 350px;
}

.casas-lista-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 12px 16px;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.casas-lista-item:hover {
    transform: scale(1.05);
}

.conteudo-casas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 16px;
    margin: 12px 16px;
    font-weight: bold;
}

.conteudo-casas h6 {
    color: var(--ttext-color);
}

.conteudo-casas a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #17b527;
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
    color: #17b527;
    transition: all 0.3s ease;
}

.conteudo-casas a:hover {
    transform: scale(1.07);
    background-color: #127e1d;
    cursor: pointer;
}

/* Fim das Casas */

/* Início Do Footer */

footer {
    margin-top: 30px;
}

.conteudo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: var(--text-color);
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.redes img {
    margin-top: 10px;
    width: 50px;
    margin-right: 12px;
    transition: all 0.5s ease;
}

.redes img:hover {
    transform: scale(1.20);
}

/* Fim do Footer */

.active {
    display: flex;
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    margin: 12px 0;
    padding: 12px 16px;
}

.inactive {
    display: none;
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
}

@-webkit-keyframes in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}